<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<div class="">
    <ul>
        <li>
            <a asp-controller="Home" asp-action="Render" asp-route-id="Index">Index</a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Render" asp-route-id="ContextServices">ContextServices</a>
        </li>
    </ul>
    <hr/>
    @RenderBody()
</div>
</body>
</html>
